<mat-card class="account-card">
    <h2>Account Management</h2>
  
    <app-account-list
      [account]="selectedAccount"
      (formSubmitted)="onFormSubmit($event)"
    ></app-account-list>
  
    <mat-divider></mat-divider>
  
    <mat-list>
      <mat-list-item *ngFor="let account of accounts">
        <div class="account-info">
          <span><strong>ID:</strong> {{ account.id }}</span>
          <span><strong>Customer:</strong> {{ account.customerId }}</span>
          <span><strong>Type:</strong> {{ account.type }}</span>
          <span><strong>Balance:</strong> {{ account.balance | currency }}</span>
        </div>
        <div class="actions">
          <button mat-icon-button color="primary" (click)="editAccount(account)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDelete(account)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
  