<mat-card class="customer-list-card">
  <h2>Customer Management</h2>
  
  <app-customer-list
    [customer]="selectedCustomer"
    (formSubmitted)="onFormSubmit($event)"
  ></app-customer-list>

  <mat-divider></mat-divider>

  <mat-list>
    <mat-list-item *ngFor="let customer of customers">
      <div class="customer-info">
        <span><strong>{{ customer.name }}</strong></span>
        <span>{{ customer.email }}</span>
        <span>{{ customer.phone }}</span>
      </div>
      <div class="actions">
        <button mat-icon-button color="primary" (click)="editCustomer(customer)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="confirmDelete(customer)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
