.customer-list-card {
    margin: 16px;
    padding: 16px;
  }
  
  .customer-info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  